<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Inicio</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/features/">

    <!-- Bootstrap core CSS -->
    <link href="bootstrap/bootstrap.min.css" rel="stylesheet">
    <link href="css/features.css" rel="stylesheet">
    <link href="css/estilos.css" rel="stylesheet">
  </head>
  <body>
  <div class="container px-4 py-5" id="custom-cards">
    <h2 class="pb-2 border-bottom align-items-center" style=" color:cornflowerblue;  text-decoration: none; font-size: 50px;font-family: 'Lucida Sans';">
      Bienvenido</h2>

    <div class="row row-cols-1 row-cols-lg-2 align-items-stretch g-4 py-5">
      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('img/alumna.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1">
            <a class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"  style = "color:cornflowerblue; text-decoration: none;font-size: 50px;font-family: 'Lucida Sans';" href="/alumno">Alumnos</a></div>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto"></li>
            <li class="d-flex align-items-center me-3"></li>
            <li class="d-flex align-items-center"></li>
            <svg class="bi me-2" width="1em" height="1em">
              <use xlink:href="#calendar3"></use>
            </svg><a class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold " href="/listaAlumnos"><img  src="img/lista.png" alt="Bootstrap" width="80" height="70"/></a>
          </ul>
        </div>
      </div>

      <div class="col">
        <div class="card card-cover h-100 overflow-hidden text-white bg-dark rounded-5 shadow-lg" style="background-image: url('img/carreras.jpg');">
          <div class="d-flex flex-column h-100 p-5 pb-3 text-white text-shadow-1"><a class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold"
            style = "color:cornflowerblue; text-decoration: none;font-size: 50px;font-family: 'Lucida Sans';"
            
            href="/carrera">Carreras</a></div>
          <ul class="d-flex list-unstyled mt-auto">
            <li class="me-auto"></li>
            <li class="d-flex align-items-center"></li>
            <svg class="bi me-2" width="1em" height="1em">
              <use xlink:href="#calendar3"></use>
            </svg><a class="pt-5 mt-5 mb-4 display-6 lh-1 fw-bold " href="/listaCarreras"><img  src="img/lista.png" alt="Bootstrap" width="80" height="70"/></a>
          </ul>
        </div>
      </div>
    </div>
  </div>
  
</main>


    <script src="bootstrap/bootstrap.bundle.min.js"></script>
   
  </body>
</html>
